body {
        background:url("image/tree.jpeg");
          /* Set a specific height */
        height: 500px; 

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
h1 {
    color: rgb(2, 2, 2);
    text-align:center;
    font-size:350%;
    font-family: "Times New Roman", Times, serif;
} 
article{
    color: blanchedalmond;
    font-family: fantasy;
    font-size: 23px;
    margin-left:10%;
    margin-right:10%;
    font-weight:1000;
}


